* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1em;
}

#header {
    width: 100%;
    height: 25%;
    background-image: url(../img/man-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center left;
    position: relative;
    padding: 25%;
}

#text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 5%;
}

#header h1, #header h2 {
    display: block;
    font-family: 'Verdana', sans-serif;
    color: #fff;
}